.printContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__info-card {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
  }
  &__consumer {
    position: relative;
    padding-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #f2f2f2;
    }
    h2 {
      margin-bottom: 15px;
    }
  }
  &__consumer-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  &__description {
    padding-bottom: 30px;
  }
}
