@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./nullstyle.scss";
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000;
}
.container {
  max-width: 1400px;
  padding: 30px;
  margin: auto;
}
.title {
  font-size: 16px;
}
.title-table {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* Отображение в окне печати только страницы печати */
// @media print {
//    body>*:not(.printable) {
//        display: none;
//    }

//    .printable {
//        display: block;
//       }
//       @page {
//          margin: 0mm;
//       }
// }

/* Скрытие страницы печати на экране во время открытия модального окна печати*/
// @media screen {
//    .printable {
//        display: none;
//    }
// }

@media print {
   @page {
      margin: 0mm;

   }
}